*{
    box-sizing: border-box;
}

body{
   
}

.perent{
    background-color: rgb(34, 25, 71);
}

.child-a{

    display: inline-flex;
    padding: 10px;
}

img{
    height: 40px;
}

 button{
    padding: 0;
    margin: 0;
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    background-color: antiquewhite;
    outline: none;
}

input{
    padding: 0;
    margin: 0;
    height: 2.5rem;
    width: 30rem;
    border: none;
    background-color: antiquewhite;
    box-shadow: none;
	outline: none;
}

select{
    padding: 0;
    margin: 0;
    height: 2.5rem;
    width: 6rem;
    border: none;
    background-color: antiquewhite;
}

.s0-bar{
    display: flex;
    justify-content: center;
    margin-left: 5rem;
}

.acc{
    padding: 0;
    margin-left: 5rem;
    display: grid;
    text-align: center;
    color: #fff;
    font-family: 'Francois One', sans-serif;
}

.acc a{
    padding: 5px 10px 5px 10px;
    color: rgb(31, 20, 54);
    text-decoration: none;
    font-family: 'Francois One', sans-serif;
    font-size: 15px;
    background-color: rgb(226, 193, 193);
}

.acc h3{
    font-size:15px;
    
}


#cart-i{
    color: rgb(214, 192, 192);
    padding: 10px;
    font-size:20px;
    margin-left: 3rem;
}

.Cart{
    display: flex;
    color: rgb(214, 192, 192);
}
 
.Cart h5{
    padding-top: 7px;
    font-family: 'Roboto', sans-serif;
}

.Cart a{
    text-decoration: none;
    color: rgb(214, 192, 192);
}
.order a{
    text-decoration: none;
    color: #fff;
    font-size:20px;   
}

.order{
    display:flex;
}

#shop{
    color: rgb(214, 192, 192);
    padding: 10px;
    font-size:20px;
    margin-left: 3rem;
}


