*{
    box-sizing: border-box;
}

body{
  background-color: rgb(238, 239, 248); 
}

.perent{
    /* padding-top: 2%; */
    background-color: rgb(160, 186, 216);
    transition: 0.5s;
   
}

.child-a{

    display: inline-flex;
    padding: 10px;
    
}

img{
    height: 40px;
}

 button{
    padding: 0;
    margin: 0;
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    background-color: rgb(106, 184, 96);
    outline: none;
}

input{
    padding: 0;
    margin: 0;
    height: 2.5rem;
    width: 30rem;
    border: none;
    background-color: antiquewhite;
    box-shadow: none;
	outline: none;
}

select{
    padding: 0;
    margin: 0;
    height: 2.5rem;
    width: 6rem;
    border: none;
    background-color: rgb(233, 237, 245);
}

.s0-bar{
    display: flex;
    justify-content: center;
    margin-left: 5rem;
}

.acc{
    padding: 0;
    margin-left: 5rem;
    display: grid;
    text-align: center;
    color: #fff;
    font-family: 'Francois One', sans-serif;
}

.acc a{
    padding: 5px 10px 5px 10px;
    color: rgb(31, 20, 54);
    text-decoration: none;
    font-family: 'Francois One', sans-serif;
    font-size: 15px;
    background-color: rgb(134, 221, 99);
}

.acc h3{
    font-size:15px;
    
}


#cart-i{
    color: rgb(29, 30, 41);
    padding: 10px;
    font-size:20px;
    margin-left: 2rem;
}

.Cart{
    display: flex;
    color: rgb(214, 192, 192);
}
 
.Cart h5{
    padding-top: 7px;
    font-family: 'Roboto', sans-serif;
}

.Cart a{
    text-decoration: none;
    color: rgb(29, 30, 41);
}
.order a{
    text-decoration: none;
    color: rgb(29, 30, 41);
    font-size:20px;   
}

.order{
    display:flex;
}

#shop{
    color: rgb(29, 30, 41);
    padding: 10px;
    font-size:20px;
    margin-left: 3rem;
}
/* section two  */
#nav-b{
    padding: 2px;
    margin-top: 5px;
}
.child-a1{
    background-color: rgb(145, 157, 172);
    padding-top: 5px;
}

.col-1{
    display: flex;
    text-align: center;
    justify-content: center;
}

.col-1 a{
    display: flex;
    text-align: center;
    text-decoration: none;
    color: blanchedalmond;
}

h6{
    font-style: bold;
    margin-top: 5px;
}


/* section three */


.slideshow{
    width: 80%;
    margin: 2% 10% 2% 10%;
    transition: 0.5s;
}

   /* Section Four  */

.elem-a{
    padding: 10px;
    background-color: #fff;
    height: 20rem;
}

.parent-c{
    margin: 10px;
}

/* new one  */




.newone .container  .row{
   background-color:#fff;
   height: 10rem;
}


.companies .container  .row{
    height: 10rem;
 }
 

/* again new line */

.parent-e{
    margin: 10px;
}


/* again started new section  */

.companies .container .row{
    margin-top:10rem ;
}

.companies img{
    size: 50px;
}

/* <!-- lets start to building footer of website --> */

footer{
  
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(152, 111, 168);
  color: white;
  text-align: center;
}


/* icon designing */

.icon1{
    display: inline-flex;
    padding: 3rem 1rem 1rem 1rem;
    font-size: x-large;
}

.menu li{
    display: inline-flex;
    margin: 1rem;   
}

.menu li a{
    text-decoration: none;
    color: #fff;
}

.copyright{
    background-color:rgb(73, 31, 90) ;
}

/* Banners Styling */

.Account{
    padding: 20px;
    margin-bottom: 10px;
    background-color: #fff;
   
}
.s-btn{
    display: inline-flex;
    background-color: rgb(99, 209, 85);
    width: 15rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.s-btn a{
    text-decoration: none;
    color: rgb(20, 17, 14);
    padding: 5px;
}

.ad img{
    height: 100%;
    width: 100%;
}

.creditcard img{
    height: 100%;
    width: 100%;
}

.col-3 h1{
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

/* Side bar menu styling */



label{
    color: #fff;
    cursor: pointer;
    display: inline-flex;
}

.main{
    background-color: blue;
    height: 100vh;
    width: 200px;
    transform: translateX(-200px);
    position: fixed;
    display: block;
    transition: 0.5s;
    
}

.main li a{
    text-decoration: none;
    color: #fff;
}

.main li {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.main ul{
    padding: 0;
    margin: 0;
}


.ic{
    display: flex;
    justify-content: end;
}

.ic i{
    padding: 5px;
    cursor: pointer;
}
/* ------------------------------------------ */